# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [2]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [3]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [4]:
admissions.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [5]:
# Hacemos el sumatorio de valores nulos y vemos que no hay ninguno.

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
admissions = admissions.set_index('Serial No.', drop = False)
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90

In [7]:
# Utilizo .set_index para establecer la columna "serial number" como índice y con drop=False mantengo la columna en el DataFrame.

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [8]:
datos_duplicados = admissions.duplicated(subset = ['GRE Score', 'CGPA'])
hay_duplicados = datos_duplicados.any()

print(hay_duplicados)

False

In [9]:
# Con .duplicated hago que me devuelva una serie booleana que indica si cada fila está duplicada o no en función de los valores de "GRE Score" y "CGPA"
# Con la función any() verifico si hay algún valor True en la serie, es decir, si hay filas duplicadas.
# Al devolverme False me indica que efectivamente son valores únicos.

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [10]:
admissions.set_index(['GRE Score', 'CGPA'], drop = True, inplace = True)
admissions.head()

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90

In [11]:
# Vuelvo a usar .set_index para establecer un nuevo indice, pero en este caso metiendo dos parametros para un indice compuesto en el orden deseado.
# Uso drop=True para eliminar las columnas
# Uso inplace=True para que reescriba "admissions" con el nuevo indice.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [12]:
admissions.reset_index(drop=False, inplace=True)
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90

In [13]:
# Reseteo el indice con reset_index. Al resetearse, por defecto siempre va a empezar por 0 a no ser que indiques lo contrario.
# Uso drop=false para que no elimine las columnas que habiamos puesto como indice.
# Uso inplace=True para que reescriba "admissions".

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [14]:
number_rows = len(admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)])
number_rows

101

In [15]:
# Uso (admissions['CGPA'] > 9) para filtrar las filas en las que el valor de la columna "CGPA" es superior a 9
# Uso (admissions['Research'] == 1) para filtrar las filas en las que el valor de la columna "Research" es igual a 1, lo que indica que el estudiante ha realizado una investigación.
# Uso & para que me devuelva donde se cumplen ambas condiciones
# Finalmente, con len hago que me cuente el número resultante de filas

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [16]:
new_filter = len(admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)])
new_filter

5

In [17]:
# Hago lo mismo pero con los mismos condicionales

In [18]:
mean_chance_of_admit = admissions['Chance of Admit'].mean()
mean_chance_of_admit

0.7239220779220779

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [19]:
def std(columna):
    mean = np.mean(columna)
    desviacion_estandar = np.std(columna)
    columna_estandarizada = (columna - mean) / desviacion_estandar
    return columna_estandarizada

In [20]:
# Primero hago que la función calcule la media de la columna utilizando np.mean(columna)
# Luego hago que calcule la desviación estándar utilizando np.std(columna)
# Con esto ya puedo pedirle que calcule y me devuelva la columna estandarizada

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [21]:
admissions['CGPA_std'] = std(admissions['CGPA'])
admissions['GRE_std'] = std(admissions['GRE Score'])
admissions['LOR_std'] = std(admissions['LOR'])
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338

In [22]:
# Creo las nuevas columnas y uso la función para que estandarice cada una de ellas

We will generate the decision choice at random using the code below. Please run the cell.

In [23]:
# Run this code:
from random import choices
std_columns = ['CGPA_std', 'GRE Score_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [25]:
admissions['deciding_column'] = decision_choice
admissions.head()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,CGPA_std
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,GRE Score_std
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,CGPA_std
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,LOR_std
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,LOR_std

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [26]:
admissions['decision'] = np.where(admissions['deciding_column']> 0.8, 1, 0)
admissions.head()

TypeError: '>' not supported between instances of 'str' and 'float'

How many applicants will be accepted to the program using the decision column? Compute the result below.

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.